* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 auto;
  width: 80rem;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
}

img {
  width: 100%;
}
